/*reservas*/
.reserv{
    text-align: justify;
    font-family: $font-family;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
    color: $color-blanco;
    margin-top: 10px;
    box-sizing: border-box;
}
